.authPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 32px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
.authContainer h1{
    font-weight: 400;
}

.authContainer form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formGroup label{
    font-size: 14px;
    color:gray;
}

.formGroup input{
    padding: 16px;
    border:2px solid #e0e0e0;
    border-radius: 16px;
}

.authContainer button{
    background-color: #e50829;
    padding: 16px;
    border:none;
    outline: none;
    border-radius: 32px;
    color:white;
    font-weight: bold;
    cursor: pointer;
}


.authContainer button:hover{
    background-color: #c1011e;
}

.authContainer p{
    font-size: 14px;
    text-align: center;
}
.authContainer p strong{
    cursor: pointer;
}
.authContainer p strong:hover{
    text-decoration: underline;
}

.error{
    color:#e50829;
}























