.leftBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 72px;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 16px 0 ;
    border-right: 1px solid #e9e9e9;
}

.menuIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.menuIcon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menuIcon:hover {
    background-color:#f1f1f1;
}

.logo{
    width: 24px;
    height: 24px;
}
